<div class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Attention !</h3>
    </div>
    <div class="modal-body">
        <p class="lead">
            Les donn&eacute;es que vous alles supprimer ne pourront pas &ecirc;tre r&eacute;cup&eacute;r&eacute;es.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">continuer</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">annuler</button>
    </div>
</div>