{% extends('PabloPeopleBundle::layout.html.twig') %}

{% block content %}
    <div class="page-header">
        <h2>Debug</h2>
    </div>
    {{ form_widget(form.lastName) }}
    {{ form_errors(form.lastName) }}
    {{ form_rest(form) }}
{% endblock content %}