<div class="span6">
    <h4>Attributions</h4>
    <div class="alert alert-error">
        <h4>Oups !</h4>
        Ce module n&apos;a pas encore &eacute;t&eacute; d&eacute;velopp&eacute;.
    </div>
    <a class="btn" href="#attributions">ajouter une attribution</a>
</div>